{% extends "base.html" %}

{% block content %}
    <br>
    <div class='tagline' style="color: whitesmoke;"><b>Login Portal</b></div>
        <form method='POST' action=''>
            {{ form.hidden_tag() }} <!--For csrf protection-->
            
            <div class="main">
                <div style="padding:2px 0; font-size: 1.1em;" for="name">Username</div>
                {{form.username(class="input")}}
            </div>

            <div class="main">
                <div style="padding:2px 0;  font-size: 1.1em;" for="password">Password</div>
                {{form.password(class="input")}}
            
            <div class="main" style="margin: auto; text-align: center;">
                {{form.submit(class="btn")}}
            </div>
            
        </form>
{% endblock content%}